<app-progress></app-progress>


  <div *ngIf="currentQuestion$ | async as currentQuestion; else loading">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Question</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form *ngIf="answerForms[currentQuestion.id]" [formGroup]="answerForms[currentQuestion.id]">
          <!-- Display the question -->
          <div class="question-text">
            <p>{{ currentQuestion.question }}</p>
          </div>

          <!-- Render different types of inputs based on question type -->
          <ng-container [ngSwitch]="currentQuestion.type">

            <!-- Multiple Choice Question -->
            <div *ngSwitchCase="'multiple_choice'">
              <ion-list>
                <ion-radio-group formControlName="selectedOption">
                  <ion-item *ngFor="let option of currentQuestion.options">
                    <ion-label>{{ option }}</ion-label>
                    <ion-radio slot="start" [value]="option"></ion-radio>
                  </ion-item>
                </ion-radio-group>
              </ion-list>
            </div>

            <!-- Long Answer Question -->
            <div *ngSwitchCase="'long_answer'">
              <ion-textarea formControlName="answer" placeholder="Your detailed answer..."></ion-textarea>
            </div>

          </ng-container>

    

          <!-- Buttons for navigation and submission -->
          <div class="navigation-buttons">
            <ion-button (click)="onPrevious()" [disabled]="isFirstQuestion()">Previous</ion-button>
            <ion-button (click)="submitAnswer(currentQuestion.id)">Submit</ion-button>
         

           </div>
          
        </form>
      </ion-card-content>
    </ion-card>
  </div>

  <ng-template #loading>
    <ion-spinner name="crescent"></ion-spinner>
    <p>Loading question...</p>
  </ng-template>
