<ion-content>
  {{ chapiterId }}
  <div *ngIf="subjects$ | async as subjects; else loading">
    <ion-list>
      <ion-item *ngFor="let subject of subjects | filterSubjectsByChapter : chapiterId">
        <ion-button expand="full" (click)="onSubjectSelect(subject.id)">
          {{ subject.title }}
        </ion-button>
      </ion-item>
    </ion-list>
  </div>

  <ng-template #loading>
    <ion-spinner name="crescent"></ion-spinner>
    <p>Loading subjects...</p>
  </ng-template>
</ion-content>