<ion-header>
  <ion-toolbar>
    <ion-title>Please select a chapter</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <app-chapter-list (selectedChapter)="presentModal($event)"></app-chapter-list>
</ion-content>

<ion-modal #modal fullscreen="true">
  <ng-template #chapterDetails>
    <ion-header>
      <ion-toolbar>
        <ion-title>Chapter Details</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="closeModal()">Go Back</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <app-subject-list *ngIf="selectedChapterId" (SubjectSelected)="presentSubjectModal($event)"
        [chapterId]="selectedChapterId">
      </app-subject-list>
    </ion-content>
  </ng-template>
  <ng-container *ngTemplateOutlet="chapterDetails"></ng-container>
</ion-modal>

<ion-modal #subjectModal fullscreen="true">
  <ng-template #subjectDetails>
    <ion-header>
      <ion-toolbar>
        <ion-title>Subject Details</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="closeSubjectModal()">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <!-- Add content for subject details here -->
    </ion-content>
  </ng-template>
  <ng-container *ngTemplateOutlet="subjectDetails"></ng-container>
</ion-modal>