ion-header {
    ion-toolbar {
      ion-title {
        display: flex;
        align-items: center;
  
        ion-icon {
          margin-right: 8px;
          color: red; /* Change color as needed */
        }
  
        span {
          font-size: 1.2em; /* Adjust font size as needed */
        }
      }
    }
  }